@media screen and (max-width: 760px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'PT Serif', serif;
        background-image: url(/https://regisalencar.github.io/formaFitness-obrigado/banner-cellphone.jpg);
        background-repeat: no-repeat;
        background-position: center 0;
        background-attachment: fixed;
    }

    .agradecimento h3{
        margin-top: 4rem;
    }

    .agradecimento p{
        margin-top: 19rem;
        font-size: 13px;
        text-align: center;
    }

    .redes-sociais h5{
        color: white;
        margin-top: 4rem;
    }

    footer{
        margin-top: 4.6rem;
        font-size: 11px;
    }



}
