*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/https://regisalencar.github.io/formaFitness-obrigado/banner.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'PT Serif', serif;
}

.agradecimento {
    color: white;
}

.agradecimento h3{
    font-size: 38px;
    text-align: center;
    margin-top: 5rem;
}

.agradecimento strong{
    color: red;
}

.agradecimento p{
    text-align: center;
    margin-top: 5rem;
    font-size: 20px;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.redes-sociais h5{
    color: white;
    margin-top: 5rem;
    text-align: center;
    font-size: 15px;
}

.icones {
     display: flex;
     justify-content: center;
     
}

.icones img{
    width: 65px;
    height: 65px;
    margin-left: 2rem;
    margin-top: 2rem;
}

footer{
    color: white;
    text-align: center;
    margin-top: 7.2rem;
}

footer span{
    color: red;
}
